@import url(/Assets/files/vars.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bottom-sec{
    padding: 15px;
    color: var(--primary-white);
    background-color: var(--primary-black);
}

.bottom-sec .header{
    display: grid;
    grid-template-columns: 400px 500px;
    justify-content: center;
    padding: 15px;
}

.bottom-sec .header .main{
    font: 1.5em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.bottom-sec .header .side{
    justify-content: flex-end;
    align-items: flex-end;
    display: grid;
    grid-template-columns: 110px 25px 80px 25px;
    gap: 10px;
}

.bottom-sec .body{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    gap: 40px;
}

.bottom-sec .card{
    display: grid;
    width: 250px;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(2,auto);
    background-color: var(--bg-grey-tile);
}

@keyframes color-change{
    0%   {background-color: rgb(32, 24, 24);transform: scale(1.05);}
    100% {background-color: rgb(1, 9, 1);transform: scale(1.1);}
  }

.bottom-sec .card:hover{
    animation: color-change 0.5s;
    animation-fill-mode: forwards;
}

.bottom-sec .card .name{
    font: 0.9em sans-serif;
    color: var(--bright-yellow-text);
}

.bottom-sec .card .temp{
    font: 20px sans-serif;
}

.bottom-sec .card .place-time{
    font: 0.9em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bottom-sec .card .humidity{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 4px;
}

.bottom-sec .card .temp, .bottom-sec .card .humidity{
    justify-self: end;
}

@media screen and (max-width: 920px){
    .bottom-sec .body{
        grid-template-columns: repeat(2,auto);
    }
    .bottom-sec .header{
        grid-template-columns: 420px 360px;
        gap: 5px;
    }
    .bottom-sec .card{
        width: 360px;
    }
}

@media screen and (max-width: 830px){
    .bottom-sec .card{
        width: 300px;
    }
    .bottom-sec .header{
        grid-template-columns: 360px 300px;
        gap: 5px;
    }
}

@media screen and (max-width: 700px){
    .bottom-sec .card{
        width: 250px;
    }
    .bottom-sec .header{
        grid-template-columns: 600px;
        gap: 5px;
    }
}

@media screen and (max-width: 630px){
    .bottom-sec .body{
        grid-template-columns: repeat(1,auto);
    }
    .bottom-sec .header{
        grid-template-columns: 360px;
        gap: 10px;
    }
    .bottom-sec .card{
        width: 360px;
    }
}