@import url(/files/vars.css);

*{
    padding: 0;
    margin: 0;
}

.middle-sec{
    color: var(--primary-white);
    background-color: var(--primary-black);
}

.middle-sec .header{
    display: grid;
    position: sticky;
    top: 0px;
    background-color: var(--primary-black);
    grid-template-columns: .55fr .45fr;
    padding: 20px;
}

.middle-sec .header > .main{
    justify-self: end;
    font: 1em sans-serif;
}

.middle-sec .header > .icons{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(5,auto);
    justify-items: center;
    align-items: flex-end;
    justify-self: start;
    padding-left: 185px;
}

.middle-sec .header > .icons > .border:active{
    padding: 3px;
    border-bottom: 2px solid var(--bg-selection-blue);
}

.middle-sec .header > .icons .dis-top{
    font: 0.75em sans-serif;
}

.middle-sec .header > .icons input{
    background-color: var(--bg-dark-grey-tile);
    color: var(--primary-white);
    width: 32px;
    height: .8em;
    font-size: 0.75em;
}

.middle-sec .cards .city{
    font: 1em sans-serif;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,auto);
}

.middle-sec .cards .time{
    font: 0.75em sans-serif;
    padding: 5px;
}

.middle-sec .cards .value{
    display: grid;
    grid-template-columns: 20px 50px;
    font: 0.7em sans-serif;
    padding: 5px;
}

.middle-sec .cards .city .temp{
    font-size: 20px;
}

.middle-sec .cards{
    display: flex;
    margin: 0 auto;
    max-width: 850px;
    overflow-x: scroll;
    gap: 30px;
}

.middle-sec .cards > .card{
    min-width: 190px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: bottom right;
    background-color: var(--bg-dark-grey-tile);
    text-align: start;
    padding: 15px;
}

.middle-sec .cards > .card:hover{
    transform: scale(1.1);
}

.middle-sec .cards > .card1{
    background-image: url("/Icons for cities/brokenhill.svg");
}

.middle-sec .cards > .card2{
    background-image: url("/Icons for cities/vostok.svg");
}

.middle-sec .cards > .card3{
    background-image: url("/Icons for cities/auckland.svg");
    
}

.middle-sec .cards > .card4{
    background-image: url("/Icons for cities/bangkok.svg");
}

.middle-sec .cards > .card5{
    background-image: url("/Icons for cities/maseru.svg");
}

.middle-sec .cards::-webkit-scrollbar {
    display: none;
}

.middle-sec .cards .img{
    padding-left: 15px;
}

@media screen and (max-width: 900px){

    .middle-sec .header > .icons{
        padding-left: 0px;
        justify-self: end;
        padding-right: 10px;
    }

    .middle-sec .cards{
        max-width: 700px;
        gap: 100px;
    }
}

@media screen and (max-width: 650px){

    .middle-sec .header > .icons{
        padding-right: 0px;
    }

    .middle-sec .cards{
        max-width: 500px;
    }
}

