@import url(/Assets/files/vars.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.middle-sec {
  color: var(--primary-white);
  background-color: var(--primary-black);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.middle-sec .header {
  display: grid;
  position: sticky;
  top: 0px;
  width: 80%;
  margin: 0 auto;
  background-color: var(--primary-black);
  grid-template-columns: 0.55fr 0.45fr;
  padding: 20px;
}

.middle-sec .cards-container {
  display: grid;
  grid-template-columns: 0.14fr 1fr 0.14fr;
}

.middle-sec .cards-container .arrow {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 900;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.middle-sec .cards-container .left-arrow {
  justify-self: flex-end;
}

.middle-sec .header > .main {
  justify-self: end;
  font: 1.25em sans-serif;
}

.middle-sec .header > .icons {
  display: flex;
  gap: 13px;
  height: 30px;
  position: sticky;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  align-items: start;
  justify-self: end;
  padding-right: 185px;
  cursor: pointer;
}

.middle-sec .header > .icons .border {
  padding-bottom: 3px;
  border-bottom: 1px solid rebeccapurple;
}

.middle-sec .header > .icons .display-top {
  font: 0.9em sans-serif;
}

.middle-sec .header > .icons input {
  background-color: var(--bg-dark-grey-tile);
  color: var(--primary-white);
  width: 35px;
  height: 1.3em;
  font-size: 0.9em;
  cursor: pointer;
}

.middle-sec .cards .city {
  font: 1.2em sans-serif;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, auto);
  padding: 5px;
}

.middle-sec .cards .time {
  font: 1em sans-serif;
  padding: 5px;
}

.middle-sec .cards .value {
  display: grid;
  grid-template-columns: 20px 60px;
  font: 1em sans-serif;
  padding: 5px;
}

.middle-sec .cards .city .temp {
  font-size: 1em;
}

.middle-sec .cards .city .img {
  padding: 0;
}

.middle-sec .cards {
  display: flex;
  margin: 0 auto;
  max-width: 1150px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 50px;
  padding: 20px 0px;
}

.middle-sec .cards > .card {
  min-width: 250px;
  height: 270px;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: bottom right;
  background-color: var(--bg-dark-grey-tile);
  text-align: start;
  padding: 15px;
}

.middle-sec .cards > .card:hover {
  transform: scale(1.1);
}

.middle-sec .cards::-webkit-scrollbar {
  display: none;
}

.middle-sec .cards .img {
  padding-left: 15px;
}

@media screen and (max-width: 1500px) {
  .middle-sec .cards-container {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }
}

@media screen and (max-width: 1400px) {
  .middle-sec .cards-container {
    grid-template-columns: 0.05fr 1fr 0.05fr;
  }
}

@media screen and (max-width: 1300px) {
  .middle-sec .cards-container {
    grid-template-columns: 0.14fr 1fr 0.14fr;
  }
  .middle-sec .cards {
    max-width: 845px;
  }
  .middle-sec .header > .icons {
    padding-right: 0px;
  }
}

@media screen and (max-width: 1100px) {
  .middle-sec .header > .icons {
    padding-left: 0px;
    justify-self: center;
    padding-right: 10px;
  }

  .middle-sec .cards-container {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }
}

@media screen and (max-width: 1050px) {
  .middle-sec .cards-container {
    grid-template-columns: 0.05fr 05fr 0.05fr;
  }
}

@media screen and (max-width: 970px) {
  .middle-sec .cards-container {
    grid-template-columns: 0.14fr 1fr 0.14fr;
  }

  .middle-sec .header > .icons {
    padding-right: 0px;
  }

  .middle-sec .cards {
    max-width: 550px;
  }
}

@media screen and (max-width: 730px) {
  .middle-sec .cards-container {
    grid-template-columns: 0.07fr 1fr 0.07fr;
  }

  .middle-sec .cards > .card {
    min-width: 240px;
    height: 250px;
  }

  .middle-sec .cards {
    gap: 30px;
  }

  .middle-sec .cards {
    max-width: 510px;
  }
}

@media screen and (max-width: 640px) {
  .middle-sec .cards,
  .middle-sec .arrow,
  .middle-sec .header {
    transform: scale(0.9);
  }
  .middle-sec .header {
    padding-right: 0;
    width: 100%;
  }
}
